
.sticky {
  
  position:fixed;
  bottom:0px;
  left:0px;
  right: 0px;
  border: 0px;
  
}
.sticky1 {
	position: fixed;
	top: 0px;
	width: 100%;
	left:0px;
	
}

#head {
	
	background: #CCC5EE;
	text-align: center;
	/*border-top: 2px solid black;*/
	height: 80px;
	font: 36px bold;
	font-family: Sans-serif;
	padding: 20px;
	
	
	
}

#footer {
	
	height: 50px;
	background-color: rgba(1,0,1,0.5);
	color:white;
	margin-top: 20px;
	text-align: center;
	border: 2px solid black;
	padding: 20px;
	font-family: Sans-serif;
} 

#nav {
	margin-top:30px;
	border-top: 2px solid green;
	padding: 40px;
	height:auto;
	height:100px;
	
}
#body {
	
	text-align: justify;
    margin-top: 500px;
	padding:50px;
	
}
